@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu AU VIC WA NT Pre", cursive;
}
.app{
  min-height: 100vh;
  display: grid;
  background-image: linear-gradient(45deg,skyblue, pink);
}